AWS_REGION=ap-northeast-2
EKS_CLUSTER_NAME=bookjjeok-test-eks-cluster
REDIS_HOST=localhost
REDIS_PORT=6379
PROMETHEUS_URL=http://10.2.x.x:9090
ARGOCD_URL=https://10.2.x.x:443
ARGOCD_TOKEN=<argocd-api-token>
OPENSEARCH_URL=https://10.2.x.x:9200
TLS_VERIFY=true
CA_BUNDLE_PATH=
REQUEST_TIMEOUT_SECONDS=10.0
MCP_CONFIG_PATH=mcp_config.json
